# This is Git's per-user configuration file.
[user]
	name = Stephan Zahariev
	email = 23424829+StephanZahariev@users.noreply.github.com

[core]
	excludesfile = /Users/stephanzahariev/.gitignore

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

